body {
    background-color: burlywood;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  }
input {
    background-color: rgb(187, 213, 245);
    width: 28vw;
    height: 30px;
    border: 2px solid rgb(5, 24, 82);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
.container {
    padding-top: 10%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  input:hover{
    transform:scale(1.1);
  }

  #submit {
    background-color: rgb(31, 170, 7);
    border: 1px none;
    border-radius: 5px;
    padding: 2px;
    width: 8vw;
    height: 35px;
    padding: 5px 5px;
    font-weight: bold;
  }

  