body {
  background-color: burlywood;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


form {
  padding: 3px;
}

input {
  background-color: rgb(187, 213, 245);
  width: 28vw;
  height: 30px;
  border: 2px solid rgb(5, 24, 82);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

select {
  background-color: rgb(187, 213, 245);
  width: 20vw;
  height: 40px;
  border: 2px solid rgb(5, 24, 82);
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}
#submit {
  background-color: rgb(205, 30, 7);
  border: 1px none;
  border-radius: 5px;
  padding: 2px;
  width: 8vw;
  height: 35px;
  padding: 5px 5px;
  font-weight: bold;
}

label{
  text-align: left;
  justify-items: left;
}

select:hover {
  transform: scale(1.2);
}

#name:hover {
  transform: scale(1.1);
}

#email:hover {
  transform: scale(1.1);
}
#date:hover {
  transform: scale(1.1);
}
#age:hover {
  transform: scale(1.1);
}
#password:hover {
  transform: scale(1.1);
}
#confirmpassword:hover {
  transform: scale(1.1);
}
